h1 {
  color: #62ebbc;
}

.todo-app {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.list {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0.5rem;
}

.item {
  border-bottom: 1px solid #c9c8cf;
  padding: 0.5rem;
}

.field {
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.625rem 0 rgb(0 0 0 / 20%);
}

.checkbox {
  margin-right: 1rem;
}

.remove {
  border: 1.5px solid #d992a7;
  background-color: white;
  border-radius: 50px;
  float: right;
}

.remove span {
  color: #d992a7;
}

.strike {
  text-decoration: line-through;
}

.quantity {
  color: #a09fa6;
  font-size: 13.333px;
  margin-right: 20px;
}

.buttons button {
  color: #a09fa6;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
}

.buttons button:active {
  color: #d992a7;
}
