.todo-app {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.list {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0.5rem;
}

.item {
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
}

.field {
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.625rem 0 rgb(0 0 0 / 20%);
}

.checkbox {
 margin-right: 1rem;
}

button {
  border: 2px black solid;
  background-color: white;
  border-radius: 50px;
  float: right;

}
